.header {
    z-index: 5000;
    width: 100%;
    height: 85px;
    position: fixed;
    padding: 0px 80px;
    //Flexbox
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        margin-top: 10px;
        padding: 10px;
        width: 100px;
    }

    nav {
        width: 65%;
        height: 40px;
        //Flexbox
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .btnIncio {
            background-color: #1ECB9F;
            padding: 10px 30px;
            color: #fff;

            &:hover {
                background-color: #000;
            }
        }

        a {
            border-radius: 50px;
            padding: 10px 30px;
            transition: .3s;
            font-family: 'Roboto', sans-serif;

            &:hover {
                background-color: #1ECB9F;
                color: #fff;
                transition: .3s;
            }
        }
    }
}